p{
    padding: 0;
    margin-bottom: 0;
}
.cartItems{
    display: flex;
    justify-content: space-between;
    
}
.cartItem{
   background-color: #ddd;
   padding: 20px;
   display: flex;
   border-radius: 20px ;
   -webkit-border-radius: 20px ;
   -moz-border-radius: 20px ;
   -ms-border-radius: 20px ;
   -o-border-radius: 20px ;
   box-shadow: 1px 1px 9px 2px #ddd;
   margin-bottom: 20px;
}
.cartImg{
    width: 33%;
    height: 230px;
}
.cartImg > img{
    width: 100%;
    height: 100%;
}
.cartData{
margin-left: 20px;
    width: 100%;
    margin-top: 5px;
}
.cartDataUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.cartDataUp_catagory{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.cartDataUp_delete{
    list-style: none;
    cursor: pointer;
}
.cartDataUp_delete:hover{
    color: #fff;
}
.cartData_desc{
    margin-bottom: 7px;
    width: 70%;
}
.cartData_rate{
    color: orange;
    display: block;
    margin-bottom: 10px;
}
.cartData_brand {
    margin-bottom: 7px;
    text-transform: capitalize;
}
.cartData_brand > span{
    font-size: 20px;
    font-weight: bold;
}
.cartData_color{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 10px;
}
.cartDataUpDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartDataUpDown_price{
    font-size: 20px;
}
.cartDataUpDown_quantity{
    font-weight: bold;
}
.cartDataUpDown_quantity > input{
    width: 30%;
    padding: 5px 7px;
}
.checkout{
    background-color: #ddd;
    height: 250px;
    margin-left: 50px;
    padding: 15px 10px ;
    text-align: center;
    width: 30%;
    margin-top: 30px;
}
.cartCoupon{
    margin-bottom: 15px;
}
.cartCoupon >input{
    width: 82%;
    padding: 10px;
    text-align: center;

}
.cartCoupon >button{
    height: 47px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.checkout{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.checkout_price{
    border: 1px solid #bcb6b6;
    padding: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
}
.checkout_RemoveCart{
    width: 100%;
    display: block;
    margin-top: 4px;
}
.checkout_purchase,.checkout_RemoveCart{
    border: 1px solid #bcb6b6;
    padding: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #000;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.checkout_purchase:hover,.checkout_RemoveCart:hover{
    opacity: 0.5;
}
.cartCoupon >button:hover{
    opacity: 0.5;
}
.applyQuntity{
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.applyQuntity:hover{
    opacity: 0.5;
}