.navParent{
    position: fixed;
    width: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
}

nav{
    background-color: black;
    padding: 20px 0;
 
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.navLogo{
    cursor: pointer;
}
.navForm {
    flex: 2;
    text-align: center;
}
.navForm > input{
    width: 90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: unset;
    text-align: center;
}
.navIcons{
    text-align: center;
}
.navIcons > a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.navIcons > a:hover{
    opacity: 0.5;
}

.navLinks{
    background-color: #a0a0a0;

}

.navLinks > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
   
}
.navLinks > ul > li{
    margin-right: 15px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.navLinks > ul > li > a{
    text-decoration: none;
    color:black;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    font-weight: bold;
}
.navLinks > ul > li:hover{
    background-color: #000;

}
.navLinks > ul > li:hover > a{
   color: #fff;
}

