.shopPage{
    margin-top: 151px;
}
.shopitems{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.shopitems_filter{
    margin-right: 70px;
    flex:1;
 
  
}
.shopitems_cards{
    flex: 5;

}
.special-items{
display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: space-between;
}
