.adminAddBrand{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.brandImgContainer {
    margin-bottom: 10px;
}
.brandImgContainer > label{
    display: block;
    width: 120px;
    height: 120px;
}
.brandImgContainer > label> img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.brandImgContainer > h3{
    padding-left: 2px;
    font-size: 20px;
    color: gray;
    margin-bottom: 15px;
}
.addBrandForm > .brandName{
    width: 80%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10px;
}
.addBrandSubmit{
    display: block;
    outline: unset;
    border: 1px solid #ddd;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 64%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.addBrandSubmit:hover{
    opacity: 0.5;
}