.adminAddproduct{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.productImgContainer {
    margin-bottom: 10px;
}
.productImgContainer > img{
    width: 15%;
}
.productImgContainer > input{
    margin-left: 10px;
}
.common{
    display: block;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    outline: unset;
    border: 1px solid #ddd;
    color: gray;
}
.productColors{
    margin-top: 25px;
}
.productColors > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.productColors > ul > li{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #ddd;
  
}


.productColors > ul > li.moreColor {
    text-align: center;
    transition:background-color 0.5s ;
    -webkit-transition:background-color 0.5s ;
    -moz-transition:background-color 0.5s ;
    -ms-transition:background-color 0.5s ;
    -o-transition:background-color 0.5s ;
    cursor: pointer;
}
.productColors > ul > li.moreColor > i{
     line-height: 30px;
     transition: color 0.4s;
     -webkit-transition: color 0.4s;
     -moz-transition: color 0.4s;
     -ms-transition: color 0.4s;
     -o-transition: color 0.4s;
}
.productColors > ul > li.moreColor:hover{
  background-color: black;
}
.productColors > ul > li.moreColor:hover > i{
    color: #fff;
}
.addproductSubmit{
    display: block;
    outline: unset;
    border: 1px solid #ddd;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: 70%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.addproductSubmit:hover{
    opacity: 0.5;
}
select{
    cursor: pointer;
}